RewriteCond %{HTTPS} off
# First rewrite to HTTPS:
# Don't put www. here. If it is already there it will be included, if not
# the subsequent rule will catch it.
RewriteEngine On

ErrorDocument 404 default
ErrorDocument 404 /404.php

 

RewriteRule    ^from-hive-to-shelf-indian-honey-container-manufacturers/?$    blog-detail.php    [NC,L] 
RewriteRule    ^wide-flip-top-caps-modern-packaging-india/?$    blog-detail.php    [NC,L] 
RewriteRule    ^why-plastic-packaging-still-dominates-global-market/?$    blog-detail.php    [NC,L] 
RewriteRule    ^applications-of-pet-and-hdpe-packaging-in-everyday-products/?$    blog-detail.php    [NC,L] 
RewriteRule    ^testttt/?$    blog-detail.php    [NC,L] 
RewriteRule    ^about-us/?$    about-us.php    [NC,L] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect /product-name to product.php
RewriteRule ^([a-zA-Z0-9-]+)$ product_details.php?slug=$1 [L,QSA]
RewriteRule ^([0-9]+)/([a-zA-Z0-9-]+)$ product_details.php?id=$1&slug=$2 [L,QSA]

RewriteRule ^category/([0-9]+)/([a-zA-Z0-9-]+)$ products.php?id=$1&slug=$2 [L,QSA]




