 .error { color: red; }
#breadcrumb-section {
		 background-color: #006a4e !important;
		 }
		 
		 .breadcrumb-wrap {
   
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.breadcrumb {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background: transparent;
    font-size: 14px;
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #fff !important;
    content: ">" !important;
}
.breadcrumb-item a {
    color: #fff;
    text-decoration: none !important;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #555;
}





.subcategory2 li {
	display: flex
	margin-right: 10px; 
}
.parent-category:hover .subcategory2 {
	display: block;
}

.subcategory2 {
	display: none;
}

.main-menu .navigation > li > ul > li > ul  li > ul{
	position: absolute;
	right: 100%;
	top: 0%;
	margin-top: 15px;
	width: 230px;
	z-index: 100;
	display: none;
	border-radius: 0px;
	background-color: #051F15;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	left: 100%;
}
.subcategory2 li a {	 
   position: relative;
    display: block;
    padding: 10px 30px;
    line-height: 24px;
    font-weight: 400;
    font-size: 15px;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-align: left;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;		
}
